body {
    background-color: #eceeed;
    width: var(--min-container-width);
    margin: 5%;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    font-family: 'Prompt', sans-serif;
    font-size: 35px;
    text-decoration: underline;
    color:#cccccc;

}
