body {
    background-color: blueviolet;
    width: var(--min-container-width);
    margin: 5%;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}